$maincolor: #0038ff;
$secondaryColor: invert($maincolor);
$shadowOpacity: 0.42;
$cssAnimationDuration: 300ms;
$backgroundFirstColor: white;
$backgroundSecondColor: red;
$backgroundGradient: linear-gradient(90deg, #75ead5 0%, #d3e69e 100%);
